software/IntegrantsMaster/node-RED/Integrants-node-red-flow.json
[{"id":"4dc50063.b2168","type":"tab","label":"Integrants","disabled":false,"info":""},{"id":"c3a3ac26.adb5f","type":"tcp in","z":"4dc50063.b2168","name":"HyperIMU","server":"server","host":"","port":"2055","datamode":"stream","datatype":"utf8","newline":"","topic":"HyperIMU","base64":false,"x":120,"y":620,"wires":[["ac0464d.9bff398","c01ee180.d945d"]]},{"id":"ac0464d.9bff398","type":"json","z":"4dc50063.b2168","name":"","property":"payload","action":"","pretty":true,"x":390,"y":620,"wires":[["ec497091.1b5f","a78d754c.65fde8","8b19c1fa.8265d"]]},{"id":"8b19c1fa.8265d","type":"mqtt out","z":"4dc50063.b2168","name":"","topic":"integrants/sub/HyperIMU","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8d987c68b143b2a4","x":950,"y":660,"wires":[]},{"id":"8be014eb.043348","type":"mqtt in","z":"4dc50063.b2168","name":"","topic":"integrants/pub/MAPstatus","qos":"2","datatype":"auto","broker":"8d987c68b143b2a4","nl":true,"rap":true,"rh":"2","x":190,"y":1240,"wires":[["8efc5c83.6b5dc","582cf60e.eef288"]]},{"id":"8efc5c83.6b5dc","type":"json","z":"4dc50063.b2168","name":"","property":"payload","action":"","pretty":true,"x":570,"y":1240,"wires":[["22a15f1e.e4d4b","bec8bff0.ed6e5","accd8f2a.876cd","ea530837.02ffd8","36e991fa.42033e","1065689d.379a77","66e55a6a.b8ffe4","68ca6bfa.c7a844"]]},{"id":"22a15f1e.e4d4b","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1400,"wires":[]},{"id":"ea530837.02ffd8","type":"ui_gauge","z":"4dc50063.b2168","name":"Coarse","group":"a904e43a.2883e8","order":5,"width":0,"height":0,"gtype":"compass","title":"Coarse","label":"","format":"{{msg.payload.Coarse}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":900,"y":1240,"wires":[]},{"id":"accd8f2a.876cd","type":"ui_gauge","z":"4dc50063.b2168","name":"Medium","group":"a904e43a.2883e8","order":4,"width":0,"height":0,"gtype":"compass","title":"Medium","label":"","format":"{{msg.payload.Medium}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":900,"y":1200,"wires":[]},{"id":"bec8bff0.ed6e5","type":"ui_gauge","z":"4dc50063.b2168","name":"Fine","group":"a904e43a.2883e8","order":3,"width":0,"height":0,"gtype":"compass","title":"Fine","label":"","format":"{{msg.payload.Fine}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":890,"y":1160,"wires":[]},{"id":"e11622b.385cbe","type":"inject","z":"4dc50063.b2168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"values\":[0,0,0,0,0,4095,4095,0,1000,4095,4095]}","payloadType":"json","x":130,"y":540,"wires":[["5c31c5d9.620a4c"]]},{"id":"5c31c5d9.620a4c","type":"mqtt out","z":"4dc50063.b2168","name":"","topic":"integrants/sub/DACdata","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8d987c68b143b2a4","x":950,"y":540,"wires":[]},{"id":"eb5f44b0.851a38","type":"inject","z":"4dc50063.b2168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"angles\":[1.1,2.2,3.3,4.4,5.5]}","payloadType":"json","x":130,"y":100,"wires":[["dcef2505.3e4398"]]},{"id":"dcef2505.3e4398","type":"mqtt out","z":"4dc50063.b2168","name":"","topic":"integrants/sub/PWMdata","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8d987c68b143b2a4","x":930,"y":100,"wires":[]},{"id":"92794031.2c82","type":"ui_slider","z":"4dc50063.b2168","name":"","label":"","tooltip":"","group":"6d3ca076.5dbd3","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Absolute","topicType":"msg","min":0,"max":"184790","step":"10","className":"","x":110,"y":1720,"wires":[["e2c220b6.5facb","2510e9b.4cb6316"]]},{"id":"e2c220b6.5facb","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":1740,"wires":[]},{"id":"398824f6.44704c","type":"mqtt in","z":"4dc50063.b2168","name":"","topic":"integrants/sub/MovingMap","qos":"2","datatype":"auto","broker":"8d987c68b143b2a4","nl":true,"rap":true,"rh":"2","x":170,"y":1580,"wires":[["a5204ee0.f861c"]]},{"id":"a5204ee0.f861c","type":"json","z":"4dc50063.b2168","name":"","property":"payload","action":"","pretty":true,"x":590,"y":1580,"wires":[["7f83b0da.92c0c"]]},{"id":"7f83b0da.92c0c","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":1580,"wires":[]},{"id":"582cf60e.eef288","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":1260,"wires":[]},{"id":"26af722b.ee046e","type":"mqtt out","z":"4dc50063.b2168","name":"","topic":"integrants/sub/MovingMap","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8d987c68b143b2a4","x":940,"y":1720,"wires":[]},{"id":"59313c1a.7fe044","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":1780,"wires":[]},{"id":"2510e9b.4cb6316","type":"function","z":"4dc50063.b2168","name":"","func":"var val = msg.payload;\n\nmsg = {payload :  {\"Absolute\": val}}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1720,"wires":[["26af722b.ee046e","59313c1a.7fe044"]]},{"id":"36e991fa.42033e","type":"ui_text","z":"4dc50063.b2168","group":"a904e43a.2883e8","order":2,"width":0,"height":0,"name":"","label":"Absolute","format":"{{msg.payload.Absolute}}","layout":"col-center","className":"","x":900,"y":1120,"wires":[]},{"id":"94e02218.f44cf","type":"mqtt in","z":"4dc50063.b2168","name":"","topic":"integrants/pub/PWMstatus","qos":"2","datatype":"auto","broker":"8d987c68b143b2a4","nl":true,"rap":true,"rh":"2","x":170,"y":1480,"wires":[["7ec7a738.0b7348","ad32cf38.2074"]]},{"id":"7ec7a738.0b7348","type":"json","z":"4dc50063.b2168","name":"","property":"payload","action":"","pretty":true,"x":590,"y":1480,"wires":[["65bfc5a4.6bbfdc"]]},{"id":"1065689d.379a77","type":"ui_gauge","z":"4dc50063.b2168","name":"","group":"6d3ca076.5dbd3","order":4,"width":0,"height":0,"gtype":"compass","title":"Heading","label":"","format":"{{msg.payload.Heading}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":900,"y":1320,"wires":[]},{"id":"66e55a6a.b8ffe4","type":"ui_gauge","z":"4dc50063.b2168","name":"","group":"6d3ca076.5dbd3","order":3,"width":0,"height":0,"gtype":"compass","title":"NtoS","label":"","format":"{{msg.payload.NtoS}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":890,"y":1360,"wires":[]},{"id":"ad32cf38.2074","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":1500,"wires":[]},{"id":"65bfc5a4.6bbfdc","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":1480,"wires":[]},{"id":"68ca6bfa.c7a844","type":"ui_gauge","z":"4dc50063.b2168","name":"","group":"6d3ca076.5dbd3","order":2,"width":0,"height":0,"gtype":"compass","title":"Absolute","label":"","format":"{{msg.payload.Absolute}}","min":"0","max":"184790","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":900,"y":1280,"wires":[]},{"id":"12c3c197.3135de","type":"ui_gauge","z":"4dc50063.b2168","name":"","group":"c0cebe05.586bb","order":1,"width":0,"height":0,"gtype":"compass","title":"ADCAngle","label":"degrees","format":"{{msg.payload.ADCAngle}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":320,"wires":[]},{"id":"e2ebf712.a02e08","type":"mqtt in","z":"4dc50063.b2168","name":"","topic":"integrants/pub/SYSstatus","qos":"2","datatype":"auto","broker":"8d987c68b143b2a4","nl":true,"rap":true,"rh":"2","x":150,"y":320,"wires":[["9fdb0244.5a8f8","f9b342bb.dfdb8"]]},{"id":"9fdb0244.5a8f8","type":"json","z":"4dc50063.b2168","name":"","property":"payload","action":"","pretty":true,"x":370,"y":320,"wires":[["12c3c197.3135de","a4e856e6.5aa038","e2305744.be44f8","e48e49f2.a49ed8"]]},{"id":"f9b342bb.dfdb8","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":380,"wires":[]},{"id":"a4e856e6.5aa038","type":"ui_gauge","z":"4dc50063.b2168","name":"","group":"c0cebe05.586bb","order":1,"width":0,"height":0,"gtype":"compass","title":"Encoder","label":"degrees","format":"{{msg.payload.Encoder}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":900,"y":280,"wires":[]},{"id":"b423c218.e441a","type":"ui_gauge","z":"4dc50063.b2168","name":"","group":"cb0a1090.f73ac","order":16,"width":0,"height":0,"gtype":"gage","title":"Vertical Line","label":"units","format":"{{payload.values[0] | number:1 }}","min":"180","max":"-180","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"90","seg2":"-90","className":"","x":910,"y":420,"wires":[]},{"id":"12041789.01ad28","type":"ui_gauge","z":"4dc50063.b2168","name":"","group":"cb0a1090.f73ac","order":16,"width":0,"height":0,"gtype":"gage","title":"Horizontal Line","label":"units","format":"{{payload.values[1] | number:1 }}","min":"180","max":"-180","colors":["#ff0000","#00ff00","#ff0000"],"seg1":"90","seg2":"-90","className":"","x":920,"y":460,"wires":[]},{"id":"e2305744.be44f8","type":"function","z":"4dc50063.b2168","name":"Calc Differences","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n case \"integrants/pub/SYSstatus\":\n //context.data.temp = msg.payload;\n context.data.encoder= msg.payload.Encoder;\n context.data.coarse= msg.payload.ADCAngle;\n msg = null;\n break;\n \n case \"HyperIMU\":\n //context.data.humidity = msg.payload;\n context.data.pitch=msg.payload.Sensors[1];\n context.data.heading=msg.payload.Sensors[0];\n msg = null;\n break;\n \n default:\n msg = null;\n \tbreak;\n\n}\n\nif(context.data.encoder != null && context.data.pitch != null && context.data.heading != null && context.data.coarse != null) {\n\tmsg2 = {};\n//    msg2.payload = \"Encoder:\"+context.data.encoder+\" Pitch:\"+context.data.pitch;\n    msg2.payload =  {\"values\": [context.data.encoder - context.data.pitch, context.data.heading - context.data.coarse]}\n//    msg2.payload = context.data.encoder - context.data.pitch\n    context.data=null;\n    return msg2;\n} ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":460,"wires":[["27b8c364.b9abac","b423c218.e441a","12041789.01ad28","5c31c5d9.620a4c"]]},{"id":"27b8c364.b9abac","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":500,"wires":[]},{"id":"e48e49f2.a49ed8","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":360,"wires":[]},{"id":"ec497091.1b5f","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":620,"wires":[]},{"id":"b03c4ca4.eeee3","type":"ui_slider","z":"4dc50063.b2168","name":"","label":"Demo Data","tooltip":"","group":"cb0a1090.f73ac","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Absolute","topicType":"msg","min":0,"max":"4095","step":"1","className":"","x":130,"y":460,"wires":[["58c3bd93.8431c4"]]},{"id":"58c3bd93.8431c4","type":"function","z":"4dc50063.b2168","name":"","func":"var val = msg.payload;\n\nmsg = {payload :  {\"values\": [val]}}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[[]]},{"id":"c01ee180.d945d","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":740,"wires":[]},{"id":"7d083128.fe002","type":"ui_gauge","z":"4dc50063.b2168","name":"Heading","group":"9410f7f0.8d6538","order":1,"width":0,"height":0,"gtype":"compass","title":"Heading","label":"&deg","format":"{{msg.payload[\"Sensors\"][0] | number:1}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":900,"y":720,"wires":[]},{"id":"5c5c1d9c.a2ac24","type":"ui_gauge","z":"4dc50063.b2168","name":"Pitch","group":"9410f7f0.8d6538","order":1,"width":0,"height":0,"gtype":"gage","title":"Pitch","label":"&deg","format":"{{msg.payload[\"Sensors\"][1] | number:1}}","min":"180","max":"-180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":890,"y":760,"wires":[]},{"id":"29b7fc12.9dc834","type":"ui_gauge","z":"4dc50063.b2168","name":"Roll","group":"9410f7f0.8d6538","order":1,"width":0,"height":0,"gtype":"gage","title":"Roll","label":"&deg","format":"{{msg.payload[\"Sensors\"][2] | number:1}}","min":"180","max":"-180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":890,"y":800,"wires":[]},{"id":"a78d754c.65fde8","type":"change","z":"4dc50063.b2168","name":"","rules":[{"t":"move","p":"payload[\"orientation\"]","pt":"msg","to":"payload.Sensors","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":680,"wires":[["7d083128.fe002","5c5c1d9c.a2ac24","29b7fc12.9dc834","fc15717.bf4119","e2305744.be44f8"]]},{"id":"fc15717.bf4119","type":"debug","z":"4dc50063.b2168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":840,"wires":[]},{"id":"8d987c68b143b2a4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a904e43a.2883e8","type":"ui_group","name":"MovingMap","tab":"bbdfe1e0.8bd21","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6d3ca076.5dbd3","type":"ui_group","name":"Moving Map.","tab":"bbdfe1e0.8bd21","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c0cebe05.586bb","type":"ui_group","name":"Compass Card","tab":"bbdfe1e0.8bd21","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cb0a1090.f73ac","type":"ui_group","name":"Demo","tab":"bbdfe1e0.8bd21","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9410f7f0.8d6538","type":"ui_group","name":"HyperIMU","tab":"bbdfe1e0.8bd21","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bbdfe1e0.8bd21","type":"ui_tab","name":"Integrants","icon":"dashboard","disabled":false,"hidden":false}]